 .animaBack{
     height: 100%;
    /* background-image :url('../img/texturas/cream-pixels.png'); */
    /* background-color: #6961611c; */
    background-image : url("https://www.transparenttextures.com/patterns/asfalt-dark.png");                
    /* // auqilas cosas de las animaciones */
    background      : linear-gradient(270deg, #5384da, #833d7c);
    background-size : 400% 400%;
    /* // setamos the aniamtion */
    transition        : all 1s ease-in-out 0s;
    -webkit-animation : AnimationName 6s ease infinite;
    -moz-animation    : AnimationName 6s ease infinite;
    animation         : AnimationName 6s ease infinite; 
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} 
