/* las particulas */
#contenedor {
    z-index  : 1111 !important;
    padding  : 0;
    height   : 100%;
    margin   : 0;
    display  : block;
    position : relative;
    background-image    : url(../img/texturas/cream-pixels.png), radial-gradient(circle, rgba(2, 0, 36, 1) 0, rgba(0, 212, 255, 1) 64%, rgba(9, 9, 121, 1) 80%);
    background-position : 12% -7%;
}


/* la aventura */
.aventura {
    height: 90%;
    background : #00000042;
    position: relative;
    display: block;
    border: 1px solid rgb(136, 109, 109);
    padding : 3rem 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.aventura a {
}
 
/* las opciones */
 .opcion {
     border : 1px solid #fff;
     border-radius: 10px;
     background-color: #fff;
     padding    : 10px;
     margin     : 1rem auto;
     display    : block;
     position   : relative;
     box-shadow : 2px 3px 10px rgba(255,0,255,0.3);
     width      : 67%;
     height     : 310px;
     transition : all 400ms ease-in-out;
 }
 .opcion:hover {
    box-shadow: 3px 5px 15px 8px #fff;
 }

 .opcion img {
      height: 50% !important;
      padding: 0;
      text-align: center;
      transition: all ease-in-out 500ms;
      margin: 0 auto;
      display: flex;
    }

 .opcion h2 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
     margin:  10px auto;
     text-align: center;
     font-size: 1.54em;
     color: #000;
     line-height: 22px;
     text-shadow: 1px 2px 12px rgba(255,255,255);
 }

 .opcion > h2  > strong {
      
 }

/* /// el footer */
#derechos_foot  {
    text-align: center;
    font-size: 1.32rem;
    align-items: center;
    font-family: 'Lobster', cursive;
    color: #fff;
    text-shadow: 1px 3px 5px #000;
}

 /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 700px) {
    #contenedor {

        height: auto !important;
    }
    
    /* // el mensjae de introp */
    #intro  h1 {
         font-size: 1.37em;
         text-align: center;
         font-stretch: expanded;
    }
    
    /* #intro #cv_link {
       display: none !important;
    } */

    #intro img  {
        height: 9rem;
        width: 9rem;
    } 

    /* #intro .iSocial {
        display: none;
    } */
    /* la app.html */
    #wrap {
        padding: 0;
    }
    .opcion {
        margin : 14px auto;
        width: 84%;
    }
    .opcion img {
        margin: 0 auto;
        display: flex;
    }
  }
